@import "tailwindcss";

:root {
  --primary: #003529;
  --glass: rgba(255, 255, 255, 0.1);
  --border: #d8d8d8;
}

@theme inline {
  --color-primary-900: var(--primary);
  --color-glass-50: var(--glass);
  --color-border-50: var(--border);
  --font-primary: var(--font-mon);
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 60s linear infinite;
}

.animate-scroll-reverse {
  animation: scroll 60s linear infinite reverse;
}

.pause-animation:hover {
  animation-play-state: paused;
}
